html {
    background-color: rgb(45, 45, 45);
    color: white;
    font-family: 'Optima', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center {
    text-align: center;
    color: inherit;
}

a {
    color: inherit;
}

.center > ul, ol {
    display: inline-block;
}

.main-header {
    font-weight: 900;
}

li {
    text-align: left;
}

img {
    width: 400px;
}